.group{

    display: flex;
    gap: var(--size-space-large);
    flex-direction: column;

    &[data-direction=ROW]{
	flex-direction:row;
	flex-wrap: wrap;
	& > *{
	    flex:1;
	    min-width: 350px;
	}
	
    }
    
}
