@use "@styles/responsive" as responsive;

.container{
	position:relative;
	background: var(--color-surface-higher);
	margin-top: var(--project-banner-height);

	display:flex;
	flex-direction:row;

	@include responsive.tablet{
	    padding-left: 0;
	    display: block;
	}

	&[data-type=FLUID]{

	    --padding-left: var(--size-margin-container);
	    padding-top: var(--size-space-extra-large-5);
	    padding-left: var(--padding-left);

	    @include responsive.tablet{
		--padding-left: 0;
		display: block;
	    }
	}
}
